* {
    font-family: monospace;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: rgb(4, 32, 65);
    padding: 20px;
}

.not-found, .entity-info {
    background-color: white;
    margin: auto;
    max-width: 800px;
    border-radius: 5px;
    overflow: auto;
}

.not-found {
    font-weight: 900;
    font-size: 18px;
    color: rgb(26, 25, 25);
    text-align: center;
}

.title {
    font-weight: 900;
    font-size: 18px;
    color: rgb(26, 25, 25);
    border-bottom: 1px solid rgba(122, 122, 122, 0.192);
    background-color: rgb(174, 255, 178);
    text-align: center;
    padding: 14px;
    margin-bottom: 16px;
    border-radius: 5px 5px 0 0;
}

.info-block {
    margin: 14px 10%;
    padding-bottom: 4px;
    border-bottom: 1.5px dotted rgb(218, 213, 213);
}

.description-data {
    padding-top: 8px;
    font-size: 15px;
    font-weight: 600;
}

@media screen and (max-width: 400px) {
    .description-title, .description-data {
        display: block;
    }
}